page-launch-list {
}

.rootLaunchList {
  background: #202020;
}

.rootLaunchItem {
  background: #202020;
}

.lauchMName {
  color: white;
  margin: 0px 0px 0px 0!important;
  font-weight: bold;
}
.launchDetails {
}

.toolbar-title {
  color: white;
}

.black_icon {
  color: white;
  padding-left: 5px;
}
.badge {
    margin-left: 20px;
}
