<ion-header>
  <ion-toolbar class="navTheme">
    <ion-title>SpaceX Launches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="blackBkgrd launchesRootContainer" *ngIf="launches">

  <ion-fab top left #fab style="margin-bottom: 17px; ">
        <button ion-fab style="background-color:dodgerblue">Filter</button>
        <ion-fab-list side="bottom" >
            <button ion-fab (click)="loadFutureLaunches(fab)"><ion-icon name="fastforward" style="color:dodgerblue;"></ion-icon></button>
            <button ion-fab (click)="loadPastLaunches(fab)"><ion-icon name="rewind" style="color:dodgerblue;"></ion-icon></button>
            <button ion-fab (click)="loadFailedLaunches(fab)"><ion-icon name="thumbs-down" style="color:dodgerblue;"></ion-icon></button>
            <button ion-fab (click)="loadSucceededLaunches(fab)"><ion-icon name="thumbs-up" style="color:dodgerblue;" ></ion-icon></button>
            <button ion-fab (click)="loadAllLaunches(fab)"><ion-icon name="remove-circle" style="color:dodgerblue;"></ion-icon></button>
          </ion-fab-list>
    </ion-fab>


  <ion-card *ngIf="nextLaunch" class="blackBkgrd" style="background-image: url('../../assets/imgs/spaceX_launch.jpg')">
    <ion-card-header>
      <ion-list>
          <ion-row justify-content-center style="margin-top: 5px;">
              <p class="whiteLabel" style="font-size:18px; font-weight: bolder; color: antiquewhite;"> Next Launch </p>
            </ion-row>
        <ion-row justify-content-center style="margin-top: 5px;">
          <p class="whiteLabel" style="font-size:18px; font-weight: bolder; color: antiquewhite;"> {{ nextLaunch.mission_name }} </p> <br>
        </ion-row>
        <ion-row justify-content-center style="margin-top: 5px;">
          <p style="font-size:20px; font-weight: bolder; color: antiquewhite;">
             {{ remainingTimeString }} 
          </p>
        </ion-row>
        <ion-row justify-content-center style="padding-top: 10px;">
          <img src="../../assets/imgs/rocket.png" style="height: 35px; width: 35px">
          <p style="font-size:20px; font-weight: bolder; color: antiquewhite; padding-left: 10px"> {{ nextLaunch.rocket.rocket_name }} </p>
        </ion-row>
        <ion-row style="padding-top: 10px;">
            <p style="font-size:13px; font-weight: bolder; color: antiquewhite; text-align: center" text-wrap> <ion-icon name="pin" style="color:antiquewhite"> </ion-icon> {{  nextLaunch.launch_site.site_name_long }}</p>
        </ion-row>
      </ion-list>
    </ion-card-header>
  </ion-card>


  <ion-list *ngFor="let launch of launches" >
      <ion-card class="blackBkgrd" (click)="goToLaunchDetails(launch)">
        <ion-card-header>
            <ion-list>
              <ion-row  class="blackBkgrd">
                <ion-avatar float-start> 
                  <img *ngIf="launch.links.mission_patch_small != null" [src]="launch.links.mission_patch_small" style="height: 70px; width: 70px;">
                  <img *ngIf="launch.links.mission_patch_small == null" src="../../assets/imgs/spaceX _logo3.png" style="height: 70px; width: 70px;">
                </ion-avatar>
                <ion-list float-end>
                  <ion-row style="margin-left: 20px; word-break: break-all">
                      <p class="whiteLabel launchMissionName" style="font-size:16px; font-weight: bolder; color: antiquewhite;"> 
                          {{ launch.mission_name }}
                      </p>
                  </ion-row>
                  <ion-row class="launchItemRowMargin">
                      <ion-badge class="launchListBadge" style="background-color: gray;">
                          {{launch.launch_date_local | date: 'dd/MM/yyyy'}}
                      </ion-badge>
                    <ion-badge *ngIf="launch.launch_success" color="secondary">
                      Succeeded
                    </ion-badge>
                    <ion-badge *ngIf="launch.launch_success == false" color="danger">
                        Failed
                    </ion-badge>
                    
                    <ion-badge *ngIf="launch.launch_success == null" color="default">
                        Upcomming
                      </ion-badge>

                  </ion-row>  
              </ion-list>
              </ion-row>
            </ion-list>
        </ion-card-header>
        <ion-card-content>            
                <p *ngIf="launch.details != null" style="color: antiquewhite; text-align: center">{{ launch.details }}</p>
                <p *ngIf="launch.details == null" style="color: antiquewhite; text-align: center">No details available for this launch</p>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>