.rocketUnit {
  background: transparent;
}

.rocketName {
  color: white;
}

.rocketDesc {
  color: #d1d1d1;
}

.rocketCardContainer {
  background: #202020;
}

.RocketListItemList {  
  background: #202020;
  text-align: center;
  color: white;
}
