.launchHeader {
    text-align: center;
}
.launchContainer {
    border: none;
}

.launchDate {
    border:none;
    font-size: 10px;
}

.badge {
    text-align: center;
    margin: auto;
}

.launchDetails {
    text-align: center
}

.site {
    margin: auto;
}

.date {
    margin: auto;
}
