.launchHeader {
  text-align: center;
}
.launchContainer {
  border: none;
}

.launchDate {
  border: none;
  font-size: 10px;
}

.badge {
  text-align: center;
  margin: auto;
}

.launchDetails {
  text-align: center;
}

.site {
  margin: auto;
}

.date {
  margin: auto;
}

.tabsContainer > .tabbar {
  background: black;
}
.tab-button {
  color: white !important;
}
.tab-button-icon {
  color: white !important;
}

.rootPage {
  background: #202020;
}
.navTheme {
  background: black;
}

.toolbar-background {
  background: #202020;
}

.rocket_icon {
  max-width: 20px;
  max-height: 20px;
}