<!--
  Generated template for the LaunchDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="navTheme">
    <ion-title *ngIf="launch">{{ launch.mission_name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="launchDetailsRootContainer">
  <ion-grid *ngIf="launch">
    <ion-row class="launchContainer">
      <ion-col col-6>
        <img *ngIf="launch.links.mission_patch_small" [src]="launch.links.mission_patch_small" />
      </ion-col>
      <ion-col col-6>
        <ion-list>
          <ion-row class="site">
            <h4 class="launchHeader">{{ launch.launch_site.site_name}}</h4>
          </ion-row>
          <ion-row class="date">
            <ion-datetime text-wrap class="launchDate" displayFormat="DD/MM/YYYY HH:mm:ss" [(ngModel)]="launch.launch_date_local"></ion-datetime>
          </ion-row>
          <ion-row>
            <ion-badge *ngIf="launch.launch_success" class="badge" color="secondary" float-end>Succeeded</ion-badge>
            <ion-badge *ngIf="launch.launch_success == false" class="badge" color="danger" float-end>Failed</ion-badge>
            <ion-badge *ngIf="launch.launch_success == null" class="badge" color="primary" float-end>Programed</ion-badge></ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <p class="launchDetails">{{ launch.details }}</p>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-2></ion-col>
    
      <ion-col col-3 (click)="goToExternalUri('article')">
          <ion-icon name="paper" style="color:cornflowerblue; font-size: 2em"></ion-icon> 
          <h6 style="margin-left: -10px; font-size:18px; font-weight: bolder; color: antiquewhite;" (click)="goToExternalUri('article')">Reddit</h6>
      </ion-col>
      
      <ion-col col-3 (click)="goToExternalUri('wiki')">
          <ion-icon name="book" style="color:blue; font-size: 2em"></ion-icon>
          <h6 style="margin-left: -5px; font-size:18px; font-weight: bolder; color: antiquewhite;" (click)="goToExternalUri('wiki')">Wiki</h6>
      </ion-col>
      
      <ion-col col-3 (click)="goToExternalUri('video')">
          <ion-icon name="film" style="color:red; font-size: 2em"></ion-icon>
          <h6 style="margin-left: -15px; font-size:18px; font-weight: bolder; color: antiquewhite;" (click)="goToExternalUri('video')">Youtube</h6>
      </ion-col>

      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <p style=" text-align:cent;  font-size:18px; font-weight: bolder;margin-right: 10px"> <ion-icon name="pin" style="color: antiquewhite"></ion-icon> {{ launch.launch_site.site_name_long }}</p>
    </ion-row>
    <ion-row style="height: 100px; background: white; width: 100%;">
        <div class="map" id="map" #map >
        </div>
    </ion-row>
  </ion-grid>
</ion-content>