page-launch-pad-details {

}

.launchPadName{
    text-align: center;
    font-weight: bold;
    color: white;
}
.globalContainer{
    margin-top: 80px;
}

.launchPadDetailsBadge {
   font-weight:"bold"; 
   font-size:"10px";
}
.launchPadLocation{
    margin-top:20px;
    color: white;
}
.vehiclesLaunchedRow{
    margin-top:20px;
}

.detailsRow {
    margin-top:20px;
    font-style: italic;
    text-align: center;
    color: white;
}

.launchPadStatus{
    margin-top:20px;
}

.launchPadAddress{
    text-align: center;
    color: white;
}

.launchPadDetailsRootContainer {
    background: #202020;
}

.vehicleLaunchedTitle {
    color: white;
}

.vehicleLaunched {
    color: white;
}
