<ion-content class="rootPage">
  <ion-navbar>
    <ion-title>Capsules List</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item *ngFor="let capsule of capsules" class="capsuleUnit" (click)="goToCapsuleDetail(capsule)"Ò>
      <ion-avatar item-start >
        <img src="../../assets/imgs/cap.png">
      </ion-avatar>
      <h2 class="capsuleName"> {{capsule.name}}</h2>
      <div>
        <p class="capsuleDesc">{{capsule.description}}</p>
      </div>
      <div>
        <ion-badge>{{capsule.active}}</ion-badge>
        <ion-badge *ngIf="capsule.active" class="badge" color="secondary" float-end>Active</ion-badge>
        <ion-badge *ngIf="!capsule.active" class="badge" color="danger" float-end>Not Active</ion-badge>
      </div>
    </ion-item>
  </ion-list>
</ion-content>